#first-header {color:red;
                font-size:110px;
            }
#second-header {color:blue;
                font-size:90px;
            }
.first-para {color:aquamarine;

}
.second-para {font-size:60px;

}